<% const postList = createNewArchivePosts(posts_new) %>
<% let cachedDate = null %>
<div class="archive-list-container">
    <% postList.forEach(postYear => { %>
        <section class="archive-item">
            <div class="archive-item-header">
                <span class="archive-year"><%= postYear.year %></span>
                <span class="archive-year-post-count">[<%= postYear.postList.length %>]</span>
            </div>
            <ul class="article-list">
              <% postYear.postList.forEach((post, index) => { %>
                <% if (!cachedDate || cachedDate !== date(post.date, 'MM-DD')) { %>
                    <% if (index !== 0) { %></li><% } %>
                    <li class="article-item" date-is='<%= date(post.date, 'MM-DD') %>'>
                <% } %>
                <div class="article-title-container <%= cachedDate === date(post.date, 'MM-DD') ? 'subsequent-article' : '' %>">
                    <a href="<%- url_for(post.path) %>">
                        <span class="article-title"><%= post.title %></span>
                    </a>
                </div>
                <% cachedDate = date(post.date, 'MM-DD') %>
                <% if (index === postYear.postList.length - 1) { %></li><% } %>
              <% }) %>
            </ul>
        </section>
    <% }) %>
</div>
