<div class="friends-link-container flex flex-col">
    <h1 class="text-[3.2rem] mt-1.5 mb-5 font-bold leading-[1]"><%= page.title %></h1>
    <% for (const category of theme.links) { %>
        <div class="mt-2 mb-4">
            <h2 class="text-2xl font-bold"><%= category.links_category %></h2>
        </div>
        <% if (category.has_thumbnail == true) { %>
    <ul class="grid grid-cols-2 mb-6 w-full gap-4">
        <% for (const f of category.list) { %>
            <li class="group transform scale-100 transition-transform duration-100 ease-linear active:scale-95">
                <a href="<%= f.link %>">
                    <div class="content rounded-lg redefine-box-shadow-flat">
                        <div class="thumbnail rounded-t-lg h-32 md:h-44 overflow-hidden">
                            <img class="rounded-t-lg object-cover w-full h-full" src="<%= f.thumbnail %>"/>
                        </div>
                        <div class="avainfo flex flex-row items-center gap-1 sm:gap-2 overflow-hidden min-w-0">
                            <div class="avatar h-16 w-16 rounded-bl-lg bg-third-background-color">
                                <% if (f.avatar) { %>
                                    <img class="rounded-bl-lg h-16 w-16 max-w-none"
                                         src="<%= f.avatar %>"
                                         onerror="this.style.display='none'"
                                    >
                                <% } else { %>
                                    <i class="fa-solid fa-user-group"></i>
                                <% } %>
                            </div>
                            <div class="flex flex-col min-w-0">
                                <div class="text-lg text-second-text-color ellipsis group-hover:!text-primary"><%= f.name %></div>
                                <div class="text-third-text-color ellipsis"><%= f.description %></div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        <% } %>
    </ul>
    <% } else { %>
        <ul class="grid mb-6 gap-4 <%= theme.page_templates.friends_column === 3 ? "grid-cols-2 sm:grid-cols-3" : "grid-cols-2" %>">
            <% for (const f of category.list) { %>
                <li class="group transform scale-100 transition-transform duration-100 ease-linear active:scale-95">
                    <a href="<%= f.link %>">
                        <div class="flex flex-row items-center gap-1 sm:gap-2 overflow-hidden min-w-0 rounded-lg redefine-box-shadow-flat">
                            <div class="h-16 w-16 rounded-bl-lg bg-third-background-color">
                                <% if (f.avatar) { %>
                                    <img class="rounded-l-lg h-16 w-16 max-w-none"
                                         src="<%= f.avatar %>"
                                         onerror="this.style.display='none'"
                                    >
                                <% } else { %>
                                    <i class="fa-solid fa-user-group"></i>
                                <% } %>
                            </div>
                            <div class="flex flex-col min-w-0">
                                <div class="text-lg text-second-text-color ellipsis group-hover:!text-primary"><%= f.name %></div>
                                <div class="text-third-text-color ellipsis"><%= f.description %></div>
                            </div>
                        </div>
                    </a>
                </li>
            <% } %>
        </ul>
        <% } %>
    <% } %>
    <div class="clear"></div>
</div>

<br>
<!-- Gradient Line -->
<div style="
    height: 2px;
    background: linear-gradient(to right, 
                                rgba(102, 204, 255, 0) 0%, 
                                rgba(102, 204, 255, 1) 40%, 
                                rgba(255, 69, 0, 1) 60%, 
                                rgba(255, 69, 0, 0) 100%);
    border-radius: 10px;">
</div>
<br><br>

<div class="note-large info">
	<div class="notel-title">
		<p>
			欢迎互换友链，结识赛博好友。申请前请添加本站
		</p>
	</div>
	<div class="notel-content">
		<p>
			站点名称： Krazyu风宇
		</p>
		<p>
			站点地址：
			<a href="https://krazyu.com/">
				https://krazyu.com
                <i class="fa-regular fa-arrow-up-right-from-square fa-sm">
				</i>
			</a>
		</p>
		<p>
			站点描述： 终不似，少年游
		</p>
		<p>
			站点头像：
			<a class="link" target="_blank" rel="noopener" href="https://krazyu.com/images/avatar.svg">
				https://krazyu.com/images/avatar.svg
				<i class="fa-regular fa-arrow-up-right-from-square fa-sm">
				</i>
			</a>
		</p>
	</div>
</div>

<p><font size="4">请按照以上格式填写，在评论区发送即可。</font></p>
<p><font size="4">或者将相关信息发送至邮箱，发送头像链接或文件皆可。</font></p>
<p><font size="4">邮箱：<code>yu#krazyu.com</code>（#改为@）</font></p>